<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script>
	//var update = document.getElementById('update')
/*update.addEventListener('click', function () {
  fetch('quotes', {
    method: 'put',
    headers: {'Content-Type': 'application/json'},
    body: JSON.stringify({
      'name': 'Darth Vader',
      'quote': 'I find your lack of faith disturbing.'
    })
  })
  .then(response => {
    if (response.ok) return response.json()
  })
  .then(data => {
    console.log(data)
  })
})
	*/
		//document.getElementById('updateA').style.display == 'none';
		var update=function(){
			//console.log("Hello my world");
			var x = document.getElementById("updateText").value;
			var y = document.getElementById("updateQuote").value;
			fetch('quotes', {
    method: 'put',
    headers: {'Content-Type': 'application/json'},
    body: JSON.stringify({
      'name': x,
      'quote': y
    })
  })
  .then(response => {
    if (response.ok) return response.json()
  })
  .then(data => {
    window.location.reload();
  })
		};
		
		var deleteFunc=function(){
			var y = document.getElementById("deleteText").value;
			
			  fetch('quotes', {
    method: 'delete',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({
      'name': y
    })
  }).then(function (response) {
    window.location.reload()
  })	
		}
		
		
		
		var ul=function(id,likes,quote,name)
		{
			//var x = document.getElementById("Souvik").value;
			//alert(id+likes);
			fetch('likes', {
    method: 'put',
    headers: {'Content-Type': 'application/json'},
    body: JSON.stringify({
      '_id': id,
	  'quote':quote,
      'likes': likes
    })
  })
  .then(response => {
    if (response.ok) return response.json()
  })
  .then(data => {
	//console.log(data);
    window.location.reload();
  })
		}
		
	</script>
	
	<style>
		@import url(http://fonts.googleapis.com/css?family=Satisfy);	
body{margin-top:20px;
	}
ul.notes li {
  margin: 10px 40px 50px 0px;
  float: left;
}
ul.notes li, ul.tag-list li {
  list-style: none;
}
ul.notes li div small {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 10px;
}
div.rotate-1 {
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
}
div.rotate-2 {
  -o-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  position: relative;
  top: 5px;
}
.lazur-bg {
  background-color: #23c6c8;
  color: #ffffff;
}
.red-bg {
  background-color: #ed5565;
  color: #ffffff;
}
.navy-bg {
  background-color: #1ab394;
  color: #ffffff;
}
.yellow-bg {
  background-color: #f8ac59;
  color: #ffffff;
}
ul.notes li div {
  text-decoration: none;
  color: #000;
  display: block;
  height: 210px;
  width: 210px;
  padding: 1em;
  -moz-box-shadow: 5px 5px 7px #212121;
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  -moz-transition: -moz-transform 0.15s linear;
  -o-transition: -o-transform 0.15s linear;
  -webkit-transition: -webkit-transform 0.15s linear;
}
.timeColor
		{
			color:black;
		}
	</style>
	<title>Souvik's App</title>
	<link rel="icon" href="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons-256/blue-metallic-orbs-icons-alphanumeric/069689-blue-metallic-orb-icon-alphanumeric-letter-s.png">
</head>

<body>
	
	<div class="container">
		
		
		<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Quote Writer</a>
    </div>
    <!--<ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>-->
  </div>
</nav>
    

	
	<div class="row">
		
		<div class="col-md-12">

		<h2 class="display-2">MEAN Stack App By Souvik</h2>
			
			<div class="col-md-3"><h6><li><span  class="label label-info">Back End and Front End- Javascript</span></li></h6></div>
			<div class="col-md-3"><h6><li><span  class="label label-info">Database- MongoDb</span></li></h6></div>
			<div class="col-md-3"><h6><li><span  class="label label-info">Server- Express</span></li></h6></div>
			<div class="col-md-3"><h6><li><span  class="label label-info">Node.js</span></li></h6></div>
		</div>
		
		
	<div class="col-md-9 col-xs-7">
			<h4><span class="label label-success display-4">Quotes fetched from database</span></h4>
		<!--
		<ul class="list-group">
  <% for(var i=0; i<quotes.length; i++) {%>
    <li class="list-group-item list-group-item-default">
      
		<span><blockquote><%= quotes[i].quote %>
			
			<footer>By <span><%= quotes[i].name %></span> </footer>
			
			</blockquote></span>
    </li>
  <% } %>
</ul>	
	-->
		<div class="bootstrap snippet">
    
    	<ul class="notes">
			
			<% for(var i=0; i<quotes.length; i=i+1) {%>
            <li>
				<%if (i%2==0) { %>		
                <div class="rotate-2 red-bg">
<!--                    <small>12:03:28 12-04-2014</small>-->
                    <span><blockquote>						
						<%= quotes[i].quote %>
			
			<footer>By <span><%= quotes[i].name %></span> (<%= quotes[i].Cdate %>) <a class="fa fa-thumbs-up" onclick="ul('<%= quotes[i]._id %>', <%=quotes[i].likes %>, '<%=quotes[i].quote %>')"><%= quotes[i].likes %></a> 
						</footer>
			
			</blockquote></span>
                </div>
				<% } %>
				<%if (i%2==1) { %>
				
				 <div class="rotate-1 yellow-bg ">
                    
                    <span><blockquote>
						<%= quotes[i].quote %>
			<footer>By <span><%= quotes[i].name %></span> (<%= quotes[i].Cdate %>) <a class="fa fa-thumbs-up" onclick="ul('<%= quotes[i]._id %>', <%=quotes[i].likes %>, '<%=quotes[i].quote %>')"><%= quotes[i].likes %></a> 
						</footer>
			</blockquote></span>
                </div>
				
				<% } %>	
            </li>
			 <% } %>               
		</ul>  
	
</div>
		</div>	
		<div class="col-md-3 col-sm-6 col-xs-5">
			<div class="well">
			<h4><span class="label label-warning">Add New Quote</span></h4>
<form action="/quotes" method="POST">
	<div class="form-group"><input type="text" placeholder="name" name="name" class="form-control" required> </div>
    <div class="form-group">
	
		
		<textarea placeholder="quote" name="quote"  required class="form-control"></textarea>
	</div>
    
    <button type="submit" class="btn btn-info">Submit</button>
  </form>	
			</div>
			
			
<div class="well">
<h4><span class="label label-success">Update Quote</span></h4>
		
	<div class="form-group"><input type="text" id="updateText" placeholder="Please provide the name...." class="form-control" required></div>
	<div class="form-group"><textarea type="text" id="updateQuote" placeholder="Please provide the new Quote...." class="form-control" required></textarea></div>
	
  <button id="update" onclick="update()" class="btn btn-primary"> Update </button>
	
	<!--<div class="alert alert-success" id="updateA">
    <strong>Success!</strong> This alert box could indicate a successful or positive action.
  </div>-->
	
	
	
</div>		
	<div class="well">
  <h4><span class="label label-danger">Delete Quote</span></h4>
		<div class="form-group"><input type="text" id="deleteText" placeholder="Please provide the name...." class="form-control" required></div>
  <button id="delete" onclick="deleteFunc()" class="btn btn-danger"> Delete Quote </button>
</div>
		</div>		
		</div>
	<div class="well"><footer>
  <p>Developed by: Souvik</p>
  <p>Contact information: <a href="mailto:souvik.das@live.in">souvik.das@live.in</a>.</p>
</footer></div>
	</div>
</body>
</html>